{{#each this}}
<div class="container">
    <div class="div-list">
        <h1 class="name-country">{{name}}</h1>
        <p><span class="sub-titles">Capital: </span> {{capital}}</p>
        <p><span class="sub-titles">Population: </span> {{population}}</p>
        <p><span class="sub-titles">Languages: </span>
            <ul>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </p>
    </div>
    <div class="flag"><img src="{{flag}}" alt="{{name}} flag"></div>
</div>
{{/each}}